<link rel='stylesheet' href='/stylesheets/homestyle.css' />

<body>

  <div class='video-background'>
    <div class='video-wrap'>
      <div id='video'>
        <video id='bgvid' autoplay loop muted playsinline>
          <source
            src='https://backgroundoptions.s3.us-east-2.amazonaws.com/production ID_4622990.mp4'
            type='video/mp4'
          />

        </video>
      </div>

    </div>
  </div>

  <div class='caption text-center'>
    <h1>Photo Fetch</h1>
    <h3>Pictures from all around the world!</h3>
    <a class='btn btn-outline-light btn-lg' href='./login'> GET STARTED</a>

  </div>

</body>